<div class="main " style="min-height: 100vh; overflow: hidden;">
    <div class="chat-bg "></div>
    <div class="container animated fadeInUp">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xl-4 mx-auto " style="margin-top: 10%;">
                <div *ngIf="loading else showForm">
                    <div class="loading-con mt-5">
                        <svg class="spinner-container" viewBox="0 0 44 44">
      <circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
  </svg>
                    </div>
                </div>
                <ng-template #showForm>
                    <h4>Register</h4>
                    <div class="border pb-4 pt-4 card" style="box-shadow: 0 !important; ">
                        <div class="card-body">

                            <form [formGroup]="registerForm" (ngSubmit)="onRegFormSubmit()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Name -->
                                        <mat-form-field class="w-100">
                                            <input matInput placeholder="Name" formControlName="userName">
                                            <mat-error *ngIf="registerForm.controls.userName.errors?.required">
                                                Please fill in your <strong>Name</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <!-- email -->
                                        <mat-form-field class="w-100">
                                            <input matInput placeholder="Email" formControlName="userEmail">
                                            <mat-error *ngIf="registerForm.controls.userEmail.errors?.required">
                                                Email is <strong>required</strong>
                                            </mat-error>

                                            <mat-error *ngIf="registerForm.controls.userEmail.errors?.email && (registerForm.controls.userEmail.dirty || registerForm.controls.userEmail.touched)">
                                                Please provide a <strong>valid email</strong>
                                            </mat-error>
                                        </mat-form-field>

                                    </div>
                                    <div class="col-md-6">

                                        <!-- password -->
                                        <mat-form-field class="w-100">
                                            <input matInput placeholder="Password" formControlName="userPass">
                                            <mat-error *ngIf="registerForm.controls.userPass.errors?.required">
                                                Password is <strong>required</strong>
                                            </mat-error>

                                            <mat-error *ngIf="registerForm.controls.userPass.errors?.minlength || registerForm.controls.userPass.errors?.maxlength">
                                                minLength is <strong>6</strong>, maxLength is <strong>30</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">

                                        <!-- password -->
                                        <mat-form-field class="w-100">
                                            <input matInput placeholder="Re-type Password" formControlName="confirmPass">
                                            <mat-error *ngIf="registerForm.controls.confirmPass.errors?.required">
                                                Confirm your <strong>Password</strong>
                                            </mat-error>
                                            <mat-error *ngIf="registerForm.controls.confirmPass.errors?.emailMatch">
                                                Confirm your <strong>Password</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>
                                <div class="mt-3 text-center">
                                    <button style="background-color:  #082dff; color:  #ffffff !important" class="shadow-sm " mat-raised-button>Register</button>
                                </div>
                            </form>
                        </div>
                    </div>


                    <footer class="text-center d-flex justify-content-around" style="margin-top: 30%;">
                        <button matTooltip="About" class="text-muted" (click)="sharedService.openAboutDialog()" mat-icon-button> <mat-icon>info</mat-icon></button>
                        <button class="text-muted" routerLink="/login" mat-button>Log In   <mat-icon>arrow_forward</mat-icon></button>
                    </footer>

                </ng-template>
            </div>
        </div>
    </div>
</div>