<div class=" you row animated animate-custom faster" *ngFor="let data of datas " [ngClass]="[data.userId === userID? 'me': 'you']">
    <div class=" col-11 chat-box">
        <div class="chat-box-inner d-flex">
            <!-- <p class="user-name">{{data.userName}}<span></span></p> -->
            <button mat-icon-button class="bg-light">
                <mat-icon>person</mat-icon>
            </button>
            <div class="card">
                <div class="card-body">
                    <p class="mb-0">{{data.message}} </p>
                    <div>
                        <small class="float-right sent-icon"><mat-icon class="mb-0">done_all</mat-icon></small>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>