<div mat-dialog-content>
    <p class="mb-4 pt-3 "><strong>About No-Whatsapp App</strong></p>
    <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur a, inventore numquam 
        iste dolor quibusdam enim! Deleniti molestias accusantium quod veritatis voluptatum, 
        <br>
        By: <span class="text-primary">Saint</span>
        <br>
         Phone: <span class="text-primary">+2349055175876</span>
        </small>
</div>
<div mat-dialog-actions class="d-flex justify-content-end mt-4">
    <!-- <button mat-dialog-close class="mat-button-rounded float-right" mat-raised-button>Not now</button> -->
    <button mat-dialog-close class="mat-button-rounded  sexy-btn float-right" color="warn" mat-button>Close</button>
</div>