:host ::ng-deep {
    $primary: #0022ff;
    $gray: #EAEBF0;
    $dark-gray: rgb(0, 0, 0, 54%);
    $color-danger: #FFBBBB;
    $light-primary: #D1D8FF;
    .color-primary {
        color: #0022ff !important;
    }
    .color-danger {
        color: $color-danger;
    }
    .bg-primary {
        background-color: #0022ff !important;
    }
    .bg-gray {
        background-color: #EAEBF0 !important;
    }
    .btn-primary {
        background-color: #0022ff !important;
        // border-radius: 60px;
        color: #ffffff;
    }
    .primary {
        background: $primary;
    }
    .back-btn {
        font-weight: 900;
        // font-size: 60px;
        margin-left: -15px;
    }
    .nav-search-con {
        text-align: center;
        .fancy-search-input {
            height: 30px;
            width: 100%;
            background-color: rgb(238, 240, 246);
            border-radius: 60px;
        }
    }
    .activity-header {
        .user-profile {
            width: 40px;
            height: 40px;
            background-color: #eee;
            background-image: url('../../../../assets/img/user.png');
            background-size: cover;
            border-radius: 50%;
        }
        .activity-title {
            font-size: 15px !important;
            line-height: 20px;
            font-weight: normal !important;
        }
        .activity-subtitle {
            font-size: 14px !important;
            line-height: 20px;
            font-weight: 100 !important;
            color: gray;
        }
    }
    .feed-toolbar-header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 20;
        .feed-toolbar {
            z-index: 20;
            height: 54px;
            background-color: #ffffff;
            .nav-btn {
                height: 54px;
                border-radius: 0 !important;
            }
            .nav-btn.active {
                border-bottom: 2px solid $primary !important;
                color: $primary;
                .mat-icon {
                    color: $primary;
                }
            }
            .mat-icon.mat-badge {
                margin-bottom: -10px !important;
            }
            input {
                border-radius: 60px;
            }
        }
    }
    .feed-toolbar-footer {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 20;
        display: none !important;
        .mat-toolbar {
            height: 50px;
            background-color: #ffffff;
        }
        .mat-toolbar {
            padding: 0 !important;
        }
        .nav-btn {
            height: 100% !important;
            border-radius: 0 !important;
            height: 45px;
        }
        .mat-icon.mat-badge {
            margin-bottom: -8px !important;
        }
        .nav-btn.active {
            // border-bottom: 4px solid $primary !important;
            color: $primary;
            .mat-icon {
                color: $primary;
            }
        }
        .mat-icon {
            // font-weight: 50 !important;
        }
    }
    //////// Responsive ////////////
    @media (max-width: 991.93px) {
        .mat-toolbar {
            overflow-x: scroll;
        }
    }
    @media (max-width:767px) {
        .mat-toolbar {
            overflow-x: scroll;
        }
        .feed-toolbar-footer {
            display: block !important;
        }
        .hide-sm {
            display: none;
        }
    }
}