<div class=" pt-5 position-relative" style="position: relative;">

    <div class="container">
        <div *ngIf="loading else showFeeds">
            <div class="loading-con mt-5">
                <svg class="spinner-container" viewBox="0 0 44 44">
<circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
</svg>
            </div>
        </div>
        <ng-template class="animated fadeInUp" #showFeeds>
            <div class="row no-gutters">
                <div class="col-md-7 feed mx-auto border">
                    <mat-card class="example-card" mat-elevation-z0>
                        <mat-card-header>
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            <div class="more-icon di">
                                <button mat-icon-button> <mat-icon>more_horiz</mat-icon></button>
                            </div>

                        </mat-card-header>
                        <img mat-card-image src="../../../assets/img/n-marley.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div class="feed-couter mb-3 d-flex justify-content-between">
                                <div>
                                    <button mat-icon-button>
                                    <mat-icon>favorite_border</mat-icon>
                                </button>
                                    <button mat-icon-button>
                                    <mat-icon> chat_bubble_outline</mat-icon>
                                </button>
                                </div>
                                <div>.........</div>
                                <div>
                                    <button mat-icon-button>
                                <mat-icon>bookmark_border</mat-icon>
                            </button>
                                </div>

                            </div>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                            </p>
                            <div class="commnet-section">
                                <div class=" commnet-section-header d-flex justify-content-between">
                                    <span class="text-muted">4222 comments</span>

                                    <button style="text-align: right;" class="text-muted" mat-button>View all</button>
                                </div>
                                <!-- comment -->
                                <div class="comment d-flex justify-content-between ">
                                    <p><strong>Shiba Inu</strong> You the smallest of the six original</p>
                                    <p style="text-align: right;">
                                        <button mat-icon-button>
                                    <mat-icon color="warn">favorite</mat-icon>
                                </button>
                                    </p>
                                </div>
                                <div class="comment d-flex justify-content-between ">
                                    <p><strong>Shiba Inu</strong> You the smallest of the six original</p>
                                    <p style="text-align: right;">
                                        <button mat-icon-button>
                                    <mat-icon >favorite_border</mat-icon>
                                </button>
                                    </p>
                                </div>
                                <div class="comment d-flex justify-content-between ">
                                    <p><strong>Shiba Inu</strong> You the smallest of the six original</p>
                                    <p style="text-align: right;">
                                        <button mat-icon-button>
                                    <mat-icon color="warn">favorite</mat-icon>
                                </button>
                                    </p>
                                </div>

                            </div>
                        </mat-card-content>

                    </mat-card>

                    <mat-card class="example-card" mat-elevation-z0>
                        <mat-card-header>
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>Musa Muhammed</mat-card-title>
                            <mat-card-subtitle>Kano, Cool city</mat-card-subtitle>
                            <div class="more-icon di">
                                <button mat-icon-button> <mat-icon>more_horiz</mat-icon></button>
                            </div>

                        </mat-card-header>
                        <img mat-card-image src="../../../assets/img/Aggital-2018-in-Review-13.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div class="feed-couter mb-3 d-flex justify-content-between">
                                <div>
                                    <button mat-icon-button>
                                    <mat-icon color="warn">favorite</mat-icon>
                                </button>
                                    <button mat-icon-button>
                                    <mat-icon> chat_bubble_outline</mat-icon>
                                </button>
                                </div>
                                <div>.........</div>
                                <div>
                                    <button mat-icon-button>
                                <mat-icon>bookmark_border</mat-icon>
                            </button>
                                </div>

                            </div>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                            </p>
                            <div class="commnet-section">
                                <div class=" commnet-section-header d-flex justify-content-between">
                                    <span class="text-muted">4222 comments</span>

                                    <button style="text-align: right;" class="text-muted" mat-button>View all</button>
                                </div>
                                <!-- comment -->
                                <div class="comment d-flex justify-content-between ">
                                    <p><strong>Shiba Inu</strong> You the smallest of the six original</p>
                                    <p style="text-align: right;">
                                        <button mat-icon-button>
                                    <mat-icon color="warn">favorite</mat-icon>
                                </button>
                                    </p>
                                </div>
                                <div class="comment d-flex justify-content-between ">
                                    <p><strong>Shiba Inu</strong> You the smallest of the six original</p>
                                    <p style="text-align: right;">
                                        <button mat-icon-button>
                                    <mat-icon >favorite_border</mat-icon>
                                </button>
                                    </p>
                                </div>
                                <div class="comment d-flex justify-content-between ">
                                    <p><strong>Shiba Inu</strong> You the smallest of the six original</p>
                                    <p style="text-align: right;">
                                        <button mat-icon-button>
                                    <mat-icon color="warn">favorite</mat-icon>
                                </button>
                                    </p>
                                </div>

                            </div>
                        </mat-card-content>

                    </mat-card>

                    <mat-card class="example-card" mat-elevation-z0>
                        <mat-card-header>
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            <div class="more-icon di">
                                <button mat-icon-button> <mat-icon>more_horiz</mat-icon></button>
                            </div>

                        </mat-card-header>
                        <img mat-card-image src="../../../assets/img/n-marley.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div class="feed-couter mb-3 d-flex justify-content-between">
                                <div>
                                    <button mat-icon-button>
                                    <mat-icon>favorite_border</mat-icon>
                                </button>
                                    <button mat-icon-button>
                                    <mat-icon> chat_bubble_outline</mat-icon>
                                </button>
                                </div>
                                <div>.........</div>
                                <div>
                                    <button mat-icon-button>
                                <mat-icon>bookmark_border</mat-icon>
                            </button>
                                </div>

                            </div>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                            </p>
                            <div class="commnet-section">
                                <div class=" commnet-section-header d-flex justify-content-between">
                                    <span class="text-muted">4222 comments</span>

                                    <button style="text-align: right;" class="text-muted" mat-button>View all</button>
                                </div>
                                <!-- comment -->
                                <div class="comment d-flex justify-content-between ">
                                    <p><strong>Shiba Inu</strong> You the smallest of the six original</p>
                                    <p style="text-align: right;">
                                        <button mat-icon-button>
                                    <mat-icon color="warn">favorite</mat-icon>
                                </button>
                                    </p>
                                </div>
                                <div class="comment d-flex justify-content-between ">
                                    <p><strong>Shiba Inu</strong> You the smallest of the six original</p>
                                    <p style="text-align: right;">
                                        <button mat-icon-button>
                                    <mat-icon >favorite_border</mat-icon>
                                </button>
                                    </p>
                                </div>
                                <div class="comment d-flex justify-content-between ">
                                    <p><strong>Shiba Inu</strong> You the smallest of the six original</p>
                                    <p style="text-align: right;">
                                        <button mat-icon-button>
                                    <mat-icon color="warn">favorite</mat-icon>
                                </button>
                                    </p>
                                </div>

                            </div>
                        </mat-card-content>

                    </mat-card>
                    <mat-card class="example-card" mat-elevation-z0>
                        <mat-card-header>
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>Musa Muhammed</mat-card-title>
                            <mat-card-subtitle>Kano, Cool city</mat-card-subtitle>
                            <div class="more-icon di">
                                <button mat-icon-button> <mat-icon>more_horiz</mat-icon></button>
                            </div>

                        </mat-card-header>
                        <img mat-card-image src="../../../assets/img/Aggital-2018-in-Review-13.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div class="feed-couter mb-3 d-flex justify-content-between">
                                <div>
                                    <button mat-icon-button>
                                     <mat-icon color="warn">favorite</mat-icon>
                                </button>
                                    <button mat-icon-button>
                                    <mat-icon> chat_bubble_outline</mat-icon>
                                </button>
                                </div>
                                <div>.........</div>
                                <div>
                                    <button mat-icon-button>
                                <mat-icon>bookmark_border</mat-icon>
                            </button>
                                </div>

                            </div>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                            </p>
                            <div class="commnet-section">
                                <div class=" commnet-section-header d-flex justify-content-between">
                                    <span class="text-muted">4222 comments</span>

                                    <button style="text-align: right;" class="text-muted" mat-button>View all</button>
                                </div>
                                <!-- comment -->
                                <div class="comment d-flex justify-content-between ">
                                    <p><strong>Shiba Inu</strong> You the smallest of the six original</p>
                                    <p style="text-align: right;">
                                        <button mat-icon-button>
                                    <mat-icon color="warn">favorite</mat-icon>
                                </button>
                                    </p>
                                </div>
                                <div class="comment d-flex justify-content-between ">
                                    <p><strong>Shiba Inu</strong> You the smallest of the six original</p>
                                    <p style="text-align: right;">
                                        <button mat-icon-button>
                                    <mat-icon >favorite_border</mat-icon>
                                </button>
                                    </p>
                                </div>
                                <div class="comment d-flex justify-content-between ">
                                    <p><strong>Shiba Inu</strong> You the smallest of the six original</p>
                                    <p style="text-align: right;">
                                        <button mat-icon-button>
                                    <mat-icon color="warn">favorite</mat-icon>
                                </button>
                                    </p>
                                </div>

                            </div>
                        </mat-card-content>

                    </mat-card>
                </div>
            </div>
            <div>
                <div class="loading-con mt-5">
                    <svg class="spinner-container" viewBox="0 0 44 44">
    <circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
    </svg>
                </div>
            </div>
        </ng-template>


    </div>

</div>