<div class="chat bg-white">
    <div class="border clearfix">
        <aside>
            <div class="row no-gutters">
                <div class="bar-1 col-4 bg-primary text-center  pt-2 pb-4">

                    <div class=" w-100 e-box text-center">
                        <div class="p-4 e e-round">

                        </div>
                    </div>
                    <div class=" w-100 e-box text-center">
                        <div class="p-4 e e-round"> </div>
                    </div>

                    <div class=" w-100 e-box text-center">
                        <div class="p-4 e e-round"> </div>
                    </div>
                    <div class="author-saint" title="This app was developed by Saint">

                        <p>With <i class="fa fa-heart-o"></i><br> by <span>Saint</span> </p>
                    </div>
                </div>
                <div class="bar-2 col-8 bg-light pb-4">
                    <div class="bar-2-inner-con d-flex h-100 flex-column  mb-3">
                        <div class="d-flex w-100 e-box">
                            <div class="">
                                <div class="p-4 e e-round"> </div>
                            </div>
                            <div class=" w-100">
                                <div class="p-2 w-100 mt-2 e"> </div>
                                <div class="p-1 w-50 mt-2 e"></div>
                            </div>

                        </div>


                        <div class="d-flex w-100 e-box">
                            <div class="">
                                <div class="p-4 e e-round"> </div>
                            </div>
                            <div class=" w-100">
                                <div class="p-2 w-100 mt-2 e"> </div>
                                <div class="p-1 w-50 mt-2 e"></div>
                            </div>

                        </div>


                        <div class="d-flex w-100 e-box">
                            <div class="">
                                <div class="p-4 e e-round"> </div>
                            </div>
                            <div class=" w-100">
                                <div class="p-2 w-100 mt-2 e"> </div>
                                <div class="p-1 w-50 mt-2 e"></div>
                            </div>

                        </div>

                        <div class="d-flex w-100 e-box">
                            <div class="">
                                <div class="p-4 e e-round"> </div>
                            </div>
                            <div class=" w-100">
                                <div class="p-2 w-100 mt-2 e"> </div>
                                <div class="p-1 w-50 mt-2 e"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </aside>

        <!-- <div class="bar-3 col-9"> -->
        <main>
            <div class="chat-bg"></div>

            <div class="container">

                <header class="chat-header p-3  ">
                    <div class="d-flex justify-content-start" style="align-items: center !important;">
                        <div>
                            <div class="video_icon">
                                <a class="popup-video video_play_button ">
                                    S
                                </a>
                            </div>
                        </div>
                        <h6 class="pl-4">Solape <span class="typing-text">Typing...</span></h6>
                    </div>

                </header>




                <div id="messages" class="chat-messages">

                    <router-outlet></router-outlet>

                </div>

                <!-- <form id="chat-form" class="chat-form">
                    <div class="form-group m-0 d-flex w-100 px-3 pt-2 pb-3 ">
                        <div class="flex-1  w-100">
                            <input name="body" id="body" placeholder="type" class="form-control shadow-sm">

                        </div>
                        <div>
                            <div class="icon-con">
                                <a class="icon-button ">
                                    <i class="fa fa-apple"></i>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="icon-con">
                                <a class="icon-button ">
                                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form> -->
            </div>
        </main>
        <!-- </div> -->
    </div>
</div>