<mat-sidenav-container class="sidenav-container">


    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <!-- <mat-toolbar class="bg-light-primary">
            <p>Notice...</p>
        </mat-toolbar> -->


        <div class="row no-gutters">
            <div class="col-md-4 bg-primary " style="height: 100vh;">

            </div>
            <div class="col-md-8">

                <mat-nav-list>
                    <mat-list>
                        <mat-list-item routerLink="chat/4234687345">
                            <mat-icon mat-list-icon class="bg-light"></mat-icon>
                            <span mat-line>Saint Zion</span>
                            <span class="status online" mat-line>Online</span>
                        </mat-list-item>
                        <mat-list-item routerLink="chat/4234687345">
                            <mat-icon mat-list-icon class="bg-light"></mat-icon>
                            <span mat-line>Mahammed B.</span>
                            <span class="status" mat-line>20/02/2020</span>
                        </mat-list-item>
                        <mat-list-item routerLink="chat/4234687345">
                            <mat-icon mat-list-icon class="bg-light"></mat-icon>
                            <span mat-line>Goodluck Jona</span>
                            <span class="status" mat-line>20/02/2020</span>
                        </mat-list-item>
                    </mat-list>
                    <a *ngIf="fancyBg" mat-list-item href="#">
                        <button class="fancy-icon" mat-icon-button>
                    <mat-icon></mat-icon>
                    </button>
                        <span *ngIf="fancyBg" class="fancy-text"></span>

                    </a>
                </mat-nav-list>

            </div>
        </div>
        <div class="sidenav-action">
            <button class="bg-white" mat-icon-button mat-raised-button>
                <mat-icon>power_settings_new</mat-icon>
        </button>
        </div>

    </mat-sidenav>

    <mat-sidenav-content class="content">
        <!-- <div class="h-100  d-flex text-center align-items-center align-items-center w-100 ">
            <div class="text-center  w-100">
                <p>Welcome, Saint Zion</p>
                <img src="../../../../assets/img/logo-1.png">

            </div>


        </div> -->
        <!-- Add Content Here -->
        <router-outlet>
        </router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>