.sidenav-container {
    height: 100%;
}

:host ::ng-deep {
    $primary: #0022ff;
    $gray: #EAEBF0;
    $dark-gray: rgb(0, 0, 0, 54%);
    $color-danger: #FFBBBB;
    $light-primary: #D1D8FF;
    .color-primary {
        color: #2A47EF !important;
    }
    .bg-light-primary {
        background-color: rgb(160, 172, 243) !important;
    }
    .bg-primary {
        background-color: #2A47EF !important;
    }
    .bg-gray {
        background-color: #EAEBF0 !important;
    }
    .btn-primary {
        background-color: #2A47EF !important;
        // border-radius: 60px;
        color: #ffffff;
    }
    .content {
        height: 100vh !important;
        .router-con {
            position: relative;
        }
    }
    .sidenav {
        width: 400px;
        .sidenav-action {
            position: absolute;
            bottom: 20px;
            left: 20px;
        }
        .mat-nav-list {
            padding-top: 0;
            overflow: hidden !important;
        }
        .mat-list-item .mat-button-wrapper {
            margin-left: 0 !important;
            // display: none;
        }
        .main-text {
            color: rgb(0, 0, 0, 54%);
        }
        .main-icon {
            background-color: transparent;
            .mat-icon {
                color: rgb(0, 0, 0, 20%);
            }
        }
        .fancy-icon {
            background-color: #EAEBF0;
            height: 30px;
            width: 30px;
            line-height: 30px;
        }
        .fancy-text {
            height: 10px;
            background-color: #EAEBF0;
            display: inline-block;
            width: 700%;
            border-radius: 20px;
        }
        .mat-list-item {
            span {
                margin-left: 10px;
            }
        }
        .mat-list {
            padding-top: 0;
            .mat-icon {
                background-image: url('../../../../assets/img/user.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .status {
                color: rgb(0, 0, 0, 54%);
            }
            .status.online {
                color: $primary;
                // font-weight: bold;
            }
        }
        .mat-list-item.mat-list-item-with-avatar {
            height: 56px !important;
            border-bottom: 1px solid #EAEBF0;
        }
    }
    // Content
    //////// Responsive ////////////
    @media (max-width: 991.93px) {}
    @media (min-width:768px) {
        // .ipage-red {
        //     background: yellow !important;
        // }
    }
}