<div class="animated fadeInUp pt-3 position-relative" style=" min-height: 100vh;">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-7 feed mx-auto">
                <div class="form">
                    <input class="form-control" placeholder="Seacrh friends ">
                </div>
            </div>
            <div class="col-md-7 feed mx-auto border bg-white">
                <mat-nav-list>
                    <mat-list>
                        <mat-list-item (click)="setUserInfo('90553038576','Saint Zion', 'Online', 'user.png')" routerLink="90553038576">
                            <mat-icon mat-list-icon class="bg-light"></mat-icon>
                            <span mat-line>Saint Zion</span>
                            <span class="status" mat-line>Music</span>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-icon mat-list-icon class="bg-light"></mat-icon>
                            <span mat-line>Mahammed B.</span>
                            <span class="status" mat-line>NDA</span>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-icon mat-list-icon class="bg-light"></mat-icon>
                            <span mat-line>Goodluck Jona</span>
                            <span class="status" mat-line>Politics</span>
                        </mat-list-item>
                    </mat-list>

                </mat-nav-list>
            </div>



            <div class="col-md-7 feed mx-auto">
                <p class="mt-4 mb-2">Meet People</p>
            </div>
            <div class="col-md-7 feed mx-auto border bg-white">
                <mat-nav-list>
                    <mat-list>
                        <mat-list-item class="position-relative">
                            <mat-icon mat-list-icon class="bg-light"></mat-icon>
                            <span mat-line>Saint Zion</span>
                            <span class="status" mat-line>Music</span>
                            <div>
                                <button mat-raised-button class="btn-primary">Add Friend</button>
                            </div>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-icon mat-list-icon class="bg-light"></mat-icon>
                            <span mat-line>Mahammed B.</span>
                            <span class="status" mat-line>NDA</span>
                            <div>
                                <button mat-raised-button class="btn-primary">Add Friend</button>
                            </div>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-icon mat-list-icon class="bg-light"></mat-icon>
                            <span mat-line>Goodluck Jona</span>
                            <span class="status" mat-line>Politics</span>
                            <div>
                                <button mat-raised-button class="btn-primary">Add Friend</button>
                            </div>
                        </mat-list-item>
                    </mat-list>

                </mat-nav-list>
            </div>

        </div>
    </div>
</div>